.search-container{
    background-color: rgb(73, 67, 67);
    padding: 15px;
}
.search-field{
    width: 400px;
    line-height: 25px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px;
}
.product-container{
    border-right: 1px solid gray;
}